.note{
    background-color: yellow;
    border-radius: 15px;
    padding: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}